/*
* This file contains the common settings of this theme
*/

/*** General minxins include - Start ***/

// Generate spaces classes
@include make-space($space-values, $space-prefixes, $grid-breakpoints-custom);

/*** General minxins include - End ***/

/*** General settings - Start ***/

// Default styles
body {
	font-family: $base-font-family;
	font-size: $base-font-size;
	font-weight: $base-font-weight;
	color: $base-font-color;
	background-color: $base-background-color;
	&.no-scroll {overflow-y: hidden;}
}

// Titles styles
h1, 
h2, 
h3, 
h4, 
h5, 
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {font-weight: bold;}

strong {font-weight: bold;}

// Links styles
a {
	color: $black;
	text-decoration: none;
	@include makeTransition("all", ".3s", "ease");
	&:hover, 
	&:focus {
		text-decoration: none;
		@include makeTransition("all", ".3s", "ease");
	}
}

// Lists styles
ul {
	padding-left: 1rem;
}

p:last-child {margin-bottom: 0;}

// Cookie Notice Styles
#cn-notice-text {
	display: block;
	margin: auto;
	margin-bottom: 1rem;
	@include mqMinWidth(768) {width: 720px;}
	@include mqMinWidth(992) {width: 960px;}
	@include mqMinWidth(1200) {width: 1140px;}
}
#cookie-notice .button.bootstrap{
	text-shadow: none;
	color: #000;
	background-color: #fff;
	background-image: none;
	box-shadow: none;
	&:hover, &:active, &:focus{
			color: #fff;
			background-color: transparent;
			border: 1px solid #fff;
	}
}


/*** Default theme classes - Start ***/

// Color classes
.white {color: $white;}
.black {color: $black;}

// Background Color classes
.bc-white {background-color: $white;}
.bc-black {background-color: $black;}

/*** Default theme classes - Start ***/