/*
* This file includes the fonts for the site
*/

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/montserrat/montserrat-thin.eot');
	src: url('../fonts/montserrat/montserrat-thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/montserrat/montserrat-thin.woff2') format('woff2'),
		url('../fonts/montserrat/montserrat-thin.woff') format('woff'),
		url('../fonts/montserrat/montserrat-thin.ttf') format('truetype'),
		url('../fonts/montserrat/montserrat-thin.svg#montserratthin') format('svg');
	font-weight: 100;
	font-style: normal; 
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/montserrat/montserrat-extralight.eot');
	src: url('../fonts/montserrat/montserrat-extralight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/montserrat/montserrat-extralight.woff2') format('woff2'),
		url('../fonts/montserrat/montserrat-extralight.woff') format('woff'),
		url('../fonts/montserrat/montserrat-extralight.ttf') format('truetype'),
		url('../fonts/montserrat/montserrat-extralight.svg#montserratextralight') format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/montserrat/montserrat-light.eot');
	src: url('../fonts/montserrat/montserrat-light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/montserrat/montserrat-light.woff2') format('woff2'),
		url('../fonts/montserrat/montserrat-light.woff') format('woff'),
		url('../fonts/montserrat/montserrat-light.ttf') format('truetype'),
		url('../fonts/montserrat/montserrat-light.svg#montserratlight') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/montserrat/montserrat-regular.eot');
	src: url('../fonts/montserrat/montserrat-regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/montserrat/montserrat-regular.woff2') format('woff2'),
		url('../fonts/montserrat/montserrat-regular.woff') format('woff'),
		url('../fonts/montserrat/montserrat-regular.ttf') format('truetype'),
		url('../fonts/montserrat/montserrat-regular.svg#montserratregular') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/montserrat/montserrat-medium.eot');
	src: url('../fonts/montserrat/montserrat-medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/montserrat/montserrat-medium.woff2') format('woff2'),
		url('../fonts/montserrat/montserrat-medium.woff') format('woff'),
		url('../fonts/montserrat/montserrat-medium.ttf') format('truetype'),
		url('../fonts/montserrat/montserrat-medium.svg#montserratmedium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/montserrat/montserrat-semibold.eot');
	src: url('../fonts/montserrat/montserrat-semibold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/montserrat/montserrat-semibold.woff2') format('woff2'),
		url('../fonts/montserrat/montserrat-semibold.woff') format('woff'),
		url('../fonts/montserrat/montserrat-semibold.ttf') format('truetype'),
		url('../fonts/montserrat/montserrat-semibold.svg#montserratsemibold') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/montserrat/montserrat-bold.eot');
	src: url('../fonts/montserrat/montserrat-bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/montserrat/montserrat-bold.woff2') format('woff2'),
		url('../fonts/montserrat/montserrat-bold.woff') format('woff'),
		url('../fonts/montserrat/montserrat-bold.ttf') format('truetype'),
		url('../fonts/montserrat/montserrat-bold.svg#montserratbold') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/montserrat/montserrat-extrabold.eot');
	src: url('../fonts/montserrat/montserrat-extrabold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/montserrat/montserrat-extrabold.woff2') format('woff2'),
		url('../fonts/montserrat/montserrat-extrabold.woff') format('woff'),
		url('../fonts/montserrat/montserrat-extrabold.ttf') format('truetype'),
		url('../fonts/montserrat/montserrat-extrabold.svg#montserratextrabold') format('svg');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/montserrat/montserrat-black.eot');
	src: url('../fonts/montserrat/montserrat-black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/montserrat/montserrat-black.woff2') format('woff2'),
		url('../fonts/montserrat/montserrat-black.woff') format('woff'),
		url('../fonts/montserrat/montserrat-black.ttf') format('truetype'),
		url('../fonts/montserrat/montserrat-black.svg#montserratblack') format('svg');
	font-weight: 900;
	font-style: normal;
}