/*
 * This file contains the footer styles
 */

footer {
	font-size: .8rem;
	margin-top: 6rem;
	border-top: 1px solid $black;
	padding-top: 6rem;
	padding-bottom: 6rem;
    @include mqMaxWidth(768) {
        margin-top: 2rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    img {max-width: 150px;}
    div{
        @include mqMaxWidth(768) {margin-bottom: 15px;}
        &:nth-child(3),
        &:nth-child(4){
            @include mqMaxWidth(768) {margin-bottom: 0;}
        }
    }
	a {
		&:hover,
		&:active,
		&:focus {color: $moonyellow;}
	}
	i {font-size: 1rem;}
	.menu {
		display: block;
		list-style: none;
		margin: 0;
		padding: 0;
		> li {
			display: block;
			> a {
				display: block;
				text-transform: uppercase;
				letter-spacing: 1px;
			}
		}
	}
}