/*
 * This file contains the buttons styles
 */

.btn {
	display: inline-block;
	white-space: normal;
	@include makeTransition("all", ".3s", "ease");
	&:hover,
	&:focus,
	&:active {
		@include makeTransition("all", ".3s", "ease");
	}
}

.btn-default {
	font-size: 1rem;
	font-weight: 300;
	text-transform: uppercase;
	border: 1px solid $black;
	border-radius: 1px;
	padding: .5rem 1.8rem;
	&:hover,
	&:focus,
	&:active {
		color: $white;
		background-color: $black;
		border-color: transparent;
	}
}

.btn-inverted {
	font-size: 1rem;
	font-weight: 300;
	text-transform: uppercase;
	color: $black;
	background-color: $white;
	border: 1px solid transparent;
	border-radius: 1px;
	padding: .5rem 1.8rem;
	&:hover,
	&:focus,
	&:active {
		color: $black;
		background-color: $moonyellow;
		border-color: transparent;
	}
}

.btn-submit {
	font-size: 1rem;
	font-weight: 300;
	text-transform: uppercase;
	background-color: $moonyellow;
	border: 1px solid transparent;
	border-radius: 1px;
	padding: .5rem 1.8rem;
	&:hover,
	&:focus,
	&:active {
		color: $white;
		background-color: $black;
		border-color: transparent;
	}
}

.form-container {
	.form-control {
		margin-bottom: 1.2rem;
		border: none;
		border-radius: 0;
		-webkit-box-shadow: 10px 10px 0px 0px rgba($ceruleanblue,1);
		-moz-box-shadow: 10px 10px 0px 0px rgba($ceruleanblue,1);
		box-shadow: 10px 10px 0px 0px rgba($ceruleanblue,1);
		&:not(textarea) {height: 3rem;}
		&:active,
		&:focus {
			-webkit-box-shadow: 0 0 0 0 rgba($ceruleanblue,1);
			-moz-box-shadow: 0 0 0 0 rgba($ceruleanblue,1);
			box-shadow: 0 0 0 0 rgba($ceruleanblue,1);
		}
	}
	textarea.form-control {
		max-width: 100%;
		height: 10rem;
	}
	.btn-submit {
		-webkit-box-shadow: 10px 10px 0px 0px rgba($ceruleanblue,1);
		-moz-box-shadow: 10px 10px 0px 0px rgba($ceruleanblue,1);
		box-shadow: 10px 10px 0px 0px rgba($ceruleanblue,1);
		&:hover,
		&:focus,
		&:active {
			-webkit-box-shadow: 0 0 0 0 rgba($ceruleanblue,1);
			-moz-box-shadow: 0 0 0 0 rgba($ceruleanblue,1);
			box-shadow: 0 0 0 0 rgba($ceruleanblue,1);
		}
	}
}

.checkbox {
	font-size: 11px;
	text-align: justify;
	.wpcf7-list-item {
		position: relative;
		margin: 0;
		margin-right: 10px;
		.form-control {
			position: absolute;
			opacity: 0;
			cursor: pointer;
			&:checked ~ .wpcf7-list-item-label::before {
				-webkit-box-shadow: 0 0 0 0 rgba($ceruleanblue,1);
				-moz-box-shadow: 0 0 0 0 rgba($ceruleanblue,1);
				box-shadow: 0 0 0 0 rgba($ceruleanblue,1);
				@include makeTransition("all", ".3s", "ease");
			}
			&:checked ~ .wpcf7-list-item-label::after {background-color: $moonyellow;}
		}
		.wpcf7-list-item-label {
			display: block;
			color: $white;
			padding-left: 35px;
			&::before {
				content: "";
				position: absolute;
				left: 0;
				display: inline-block;
				vertical-align: middle;
				width: 25px;
				height: 25px;
				font-weight: 300;
				background-color: $white;
				margin: 0;
				border: 1px solid transparent;
				border-radius: 0;
				cursor: pointer;
				-webkit-box-shadow: 10px 10px 0px 0px rgba($ceruleanblue,1);
				-moz-box-shadow: 10px 10px 0px 0px rgba($ceruleanblue,1);
				box-shadow: 10px 10px 0px 0px rgba($ceruleanblue,1);
				@include makeTransition("all", ".3s", "ease");
			}
			&::after {
				position: absolute;
				top: 2px;
				right: 2px;
				bottom: 2px;
				left: 2px;
				display: inline-block;
				width: 21px;
				height: 21px;
				background-color: $white;
			}
		}
	}
}

.wpcf7-not-valid-tip {
	color: #fff !important;
	margin-top: -1.2rem;
	margin-bottom: 1.2rem;
	background-color: #e84038;
	-webkit-box-shadow: 10px 10px 0px 0px rgba($ceruleanblue,1);
	-moz-box-shadow: 10px 10px 0px 0px rgba($ceruleanblue,1);
	box-shadow: 10px 10px 0px 0px rgba($ceruleanblue,1);
}
.wpcf7-response-output {
	color: $white;
	text-align: center;
	margin: 0;
	border: none;
	padding: 30px 15px;
	&.wpcf7-validation-errors {
		background-color: #e84038;
		border-color: transparent !important;
		-webkit-box-shadow: 10px 10px 0px 0px rgba($ceruleanblue,1);
		-moz-box-shadow: 10px 10px 0px 0px rgba($ceruleanblue,1);
		box-shadow: 10px 10px 0px 0px rgba($ceruleanblue,1);
	}
	&.wpcf7-mail-sent-ok {
		background-color: #398f14;
		border-color: transparent !important;
		-webkit-box-shadow: 10px 10px 0px 0px rgba($ceruleanblue,1);
		-moz-box-shadow: 10px 10px 0px 0px rgba($ceruleanblue,1);
		box-shadow: 10px 10px 0px 0px rgba($ceruleanblue,1);
	}
}