/*
 * This file contains the navbar styles
 */
.mobile-search-form{
    height: 0;
    visibility: hidden;
    @include makeTransition("all", ".3s", "ease");
    padding-left: 30px;
    padding-right: 30px;
    .search-form{
        width: 100%;
        .input-group{width: 100%;}
        input{
            border: none;
            border-bottom: 1px solid $black;
            border-radius: 0;
            border-top: 1px solid $black;
            &::-webkit-input-placeholder {color: $black;} 
            &:-ms-input-placeholder {color: $black;}
            &::-moz-placeholder {color: $black;}
            &:-moz-placeholder {color: $black;}
        }
        button{
            background-color: transparent;
            color: $black;
        }
    }
    .form-closer{
        position: absolute;
        top: 5px;
        right: 5px;
        background-color: transparent;
        border: none;
        box-shadow: none;
        cursor: pointer;
        img{height: 20px;}
    }
}
.open{
    height: 150px;
    visibility: visible;
    @include makeTransition("all", ".3s", "ease");
}
.header {
	&.header-white {
		.navbar {
			background-color: $white;
            
			.form-inline {
				border-bottom: 1px solid $black;
				.form-control {
					color: $black;
					&::-webkit-input-placeholder {color: $black;} 
					&:-ms-input-placeholder {color: $black;}
					&::-moz-placeholder {color: $black;}
					&:-moz-placeholder {color: $black;}
				}
				.btn-search {color: $black;}
			}
			.navbar-toggler span {background-color: $black;}
		}
	}
	&.header-transparent {
		position: absolute;
		left: 0;
		right: 0;
		z-index: 900;
		.navbar {
			background-color: transparent;
			.form-inline {
				border-bottom: 1px solid $white;
				.form-control {
					color: $white;
					&::-webkit-input-placeholder {color: $white;} 
					&:-ms-input-placeholder {color: $white;}
					&::-moz-placeholder {color: $white;}
					&:-moz-placeholder {color: $white;}
				}
				.btn-search {color: $white;}
			}
			.navbar-toggler span {background-color: $white;}
		}
	}
	.navbar {
		@include mqMaxWidth(767) {padding: 1rem 0;}
		@include mqMinWidth(768) {padding: 2rem 0;}
		.search-form {
			@include mqMaxWidth(767) {
				width: 100%;
				margin-top: 1rem;
			}
		}
        .navbar-brand{
            @include mqMaxWidth(768) {margin-right: 0;}
        }
        .navbar-toggler{
            @include mqMaxWidth(768) {margin-left: 0.5 rem !important;}
        }
        
        .mobile-search{
            display: none;
            @include mqMaxWidth(768){
                border: none;
                box-shadow: none;
                background-color: transparent;
                cursor: pointer;
                display: block;
                color: white;
                margin-left: auto;
            }
        }
        
        
        
		.img-logo {
			display: inline-block;
			height: auto;
			@include mqMaxWidth(480) {width: 150px;}
			@include mqMinWidth(481) {width: 200px;}
		}
		.form-inline {
            @include mqMaxWidth(768) {display: none;}
			.form-control {
				width: 230px;
				background-color: transparent;
				border: none;
				border-radius: 0;
				padding-left :0;
				padding-right: 0;
				&::-webkit-input-placeholder {text-transform: uppercase;} 
				&:-ms-input-placeholder {text-transform: uppercase;}
				&::-moz-placeholder {
					text-transform: uppercase;
					opacity: 1;
				}
				&:-moz-placeholder {
					text-transform: uppercase;
					opacity: 1;
				}
				&:focus {box-shadow: none;}
			}
			.btn-search {
				background-color: transparent;
			}
		}
		.navbar-collapse {
			position: fixed;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			background-color: $white;
			&.collapsing {
				@include makeTransition("none", "", "");
			}
			&.show {
				z-index: 1000;
				height: 100%;
				@include makeTransition("all", ".3s", "ease");
			}
			.navbar-collapse-logo {
				width: 100%;
				text-align: center;
				margin-bottom: 2rem;
				img {
					display: inline-block;
					max-width: 100%;
					width: 150px;
					height: auto;
				}
			}
			.navbar-menu {
				width: 100%;
				> li {
					display: block;
					width: 100%;
					text-align: center;
					> a {
						position: relative;
						display: block;
						font-size: 1.5rem;
						font-weight: 600;
						letter-spacing: 1px;
						padding: .8rem 0;
						&:after {
							content: "";
							position: absolute;
							left: 0;
							bottom: 0;
							right: 0;
							display: block;
							width: 50px;
							height: 2px;
							background-color: $moonyellow;
							margin: auto;
						}
						&:hover,
						&:focus,
						&:active {color: $moonyellow;}
					}
				}
			}
		}
		.navbar-toggler {
			position: relative;
			z-index: 1010;
			border: none;
            @include mqMaxWidth(768) {margin-left: 0.5rem !important;}
			&:active,
			&:focus {outline: 0;}
			&[aria-expanded="true"] {
				span {
					background-color: $black;
					&:nth-child(1) {
						position: absolute;
						left: 12px;
						top: 10px;
						-webkit-transform: rotate(135deg);
						-moz-transform: rotate(135deg);
						-o-transform: rotate(135deg);
						transform: rotate(135deg);
						opacity: 0.9;
					}
					&:nth-child(2) {
						height: 12px;
						visibility: hidden;
						background-color: transparent;
					}
					&:nth-child(3) {
						position: absolute;
						left: 12px;
						top: 10px;
						-webkit-transform: rotate(-135deg);
						-moz-transform: rotate(-135deg);
						-o-transform: rotate(-135deg);
						transform: rotate(-135deg);
						opacity: 0.9;
					}
				}
			} 
			span {
				position: relative;
				left: 0;
				display: block;
				height: 3px;
				width: 25px;
				margin-top: 4px;
				margin-bottom: 4px;
				-webkit-transform: rotate(0deg);
				-moz-transform: rotate(0deg);
				-o-transform: rotate(0deg);
				transform: rotate(0deg);
				opacity: 1;
				&:nth-child(1),
				&:nth-child(3) {
					@include makeTransition("transform", ".3s", "ease");
				}
			}
		}
	}
	
}


.searchwp-live-search-results {
	background-color: $white;
	border: none;
	border-radius: 0;
	box-shadow: none;
	.searchwp-live-search-result {
		&:hover,
		&:focus,
		&:active {
			background-color: $moonyellow;
			color: $white;
		}
		p {
			border-bottom-color: $moonyellow;
			a {
				display: block;
				font-size: 0;
				line-height: 0;
				&:hover,
				&:focus,
				&:active {color: $white;}
				span {
					display: inline-block;
					font-size: $base-font-size;
					line-height: 1;
					&:first-child {width: 80%;}
					&:last-child {
						width: 20%;
						text-align: right;
					}
				}
			}
		}
	}
}

.language-menu {
	position: relative;
	.dropdown-toggle {
		color: $white;
		text-transform: uppercase;
		&::after {
			content: "";
			display: none;
		}
	}
	.dropdown-menu-center {
		min-width: 3rem;
		margin-top: .8rem;
		border: none;
		border-radius: 0;
		padding: 0;
		@include alignCenter(absolute);
		&::before {
			content: "";
			position: absolute;
			top: -.5rem;
			left: 0;
			right: 0;
			display: block;
			width: 0;
			height: 0;
			margin: auto;
			border-style: solid;
			border-width: 0 .5rem .5rem .5rem;
			border-color: transparent transparent $white; 
		}
		.dropdown-item {
			color: $base-font-color;
			text-transform: uppercase;
			text-align: center;
			padding: .25rem;
			&:hover,
			&:focus,
			&:active {
				background-color: $moonyellow;
			}
		}
	}
}

.header-white {
	.dropdown-toggle {
		color: $base-font-color;
	}
	.dropdown-menu-center::before {
		border-color: transparent transparent $ceruleanblue; 
	}
	.dropdown-item {
		color: $white !important;
		background-color: $ceruleanblue;
		&:hover,
		&:focus,
		&:active {
			color: $base-font-color !important;
			background-color: $moonyellow;
		}
	}
}