/*
 * This file contains the general page styles
 */

.featured-image {
	position: relative;
	overflow: hidden;
	.featured-image-title {
		left: 0;
		right: 0;
		z-index: 10;
		color: $white;
		margin: 0 auto;
		@include vAlignMiddle(absolute);
		@include mqMinWidth(768) {font-size: 4rem;}
	}
	> picture img {
		position: absolute;
		left: -9999px;
		top: -9999px;
		right: 0;
		bottom: -9999px;
		margin: auto;
		margin-right: 0;
		max-width: none;
		@include mqMaxWidth(767) {
			min-width: 120%;
			height: auto;
			width: auto;
            margin: 0;
            margin-left: auto;
            left: 0;
            top: 0;
            bottom: 0;
		}
        @include mqMaxWidth(576) {
			min-width: 120%;
			height: auto;
			width: auto;
            margin-left: auto;
		}
		@include mqMinWidth(768) {
			min-width: 100%;
			height: 100%;
			width: auto;
		}
		@include mqMinWidth(1600) {
			min-width: 100%;
			min-height: 100%;
			height: auto;
		}
	}
    .desktop-image{
        display: block;
        @include mqMaxWidth(768) {display: none;}
    }
    .mobile-image{
        display: none;
        @include mqMaxWidth(768) {display: block;}
    }
}


.sidebar {
	.sidebar-title {
		text-transform: uppercase;
		text-align: center;
		margin-top: 0;
		margin-bottom: 1.5rem;
		border-bottom: 1px solid $moonyellow;
		padding-bottom: 1rem;
	}
}


.pagination {
	display: block;
	font-size: 0;
	line-height: 0;
	> li {
		display: inline-block;
		font-size: $base-font-size;
		line-height: 1.4;
		vertical-align: middle;
		margin-right: .5rem;
		&.next,
		&.prev {
			a {border: none}
			.fas:before {line-height: 1.4;}
		}
		&.active a {
			background-color: $moonyellow;
			border-color: transparent;
		}
		a {
			display: block;
			width: 1.5rem;
			height: 1.5rem;
			font-weight: 500;
			text-align: center;
			border: 1px solid $black;
			border-radius: 50%;
			&:hover,
			&:focus,
			&:active {
				color: $black;
				background-color: $moonyellow;
				border-color: transparent;
			}
		}
	}
}

.filter-bar{
    background-color: $moonyellow;
	padding-top: 1rem;
	padding-bottom: 1rem;
	@include mqMaxWidth(480) {margin-bottom: 4rem;}
	@include mqMinWidth(481) {margin-bottom: 5rem;}
	@include mqMinWidth(768) {margin-bottom: 6rem;}
    .filter-bar-title {
        font-size: $base-font-size;
        font-weight: bold;
        text-transform: uppercase;
        @include mqMaxWidth(480) {width: 35%;}
        @include mqMinWidth(481) {width: 25%;}
        @include mqMinWidth(768) {width: 15%;}
    }
    .filter-bar-content{
        display: inline-block;
        vertical-align: middle;
        white-space: nowrap;
        overflow-x: auto;
        @include mqMaxWidth(480) {width: 65%;}
        @include mqMinWidth(481) {width: 75%;}
        @include mqMinWidth(768) {width: 85%;}
        .mCSB_container{
            overflow-x: auto;
            white-space: nowrap;
            div{
                display: inline-block;
				font-size: $base-font-size;
				line-height: 1;
				padding: 0 1rem;
				border-right: 1px solid $white;
				&:last-child {border-right: none;}
                .custom-select {
					font-weight: 500;
					color: $black;
					text-transform: uppercase;
					background-color: transparent;
					border: none;
					border-radius: 0;
					padding-top: 0;
					padding-bottom: 0;
				}
                select:focus{font-size: 16px;}
            }
        }
        .mCSB_1_scrollbar{bottom: -22px !important;}
    }
    .btn-remove-filters {
        font-weight: 500;
        text-transform: capitalize;
        background-color: transparent;
        &:hover,
        &:focus,
        &:active {
            color: $white;
            background-color: $black;
        }
    }
}




.profile-box {
	position: relative;
	text-align: center;
	padding-left: 2rem;
	padding-right: 2rem;
	@include mqMaxWidth(480) {
		margin-bottom: 2rem;
		padding-bottom: 2rem;
	}
	@include mqMinWidth(481) {
		margin-bottom: 2.5rem;
		padding-bottom: 2.5rem;
	}
	@include mqMinWidth(768) {
		margin-bottom: 3rem;
		padding-bottom: 3rem;
	}
	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 95px;
		left: 0;
		bottom: 0;
		right: 0;
		display: block;
		border:1px solid $moonyellow;
	}
	.title {
		text-transform: uppercase;
		margin-top: 2rem;
		margin-bottom: 0;
	}
}