/*
 * Color variables
 */
$moonyellow: #f6c71a;
$ceruleanblue: #365ec1;

$white: #fff;
$black: #000;

/*
 *  Font variables
 */
$font: "Montserrat", Helvetica, Arial, sans-serif;

$base-font-size: 15px;
$base-font-color: $black;
$base-font-family: $font;
$base-font-weight: 300;

/*
 * Footer variables
 */
$footer-color: $black;

/*
 *  Common variables
 */
$base-background-color: $white;