/*
 * This file contains the general page styles
 */

.category-magazine-title {
	text-transform: uppercase;
	margin-top: 5rem;
	margin-bottom: 4rem;
}
.category-magazine-main {
	.magazine {
		margin-bottom: 2.1rem;
		a {
			display: block;
			&:hover,
			&:focus,
			&:active {
				color: $black;
				.magazine-img-container:before,
				.magazine-img-container:after {
					opacity: 1;
					visibility: visible;
					@include makeTransition("opacity", ".3s", "ease");
				}
			}
			.magazine-img-container {
				position: relative;
				z-index: 0;
				&:before {
					content: "";
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					z-index: 10;
					background-color: rgba($black, .5);
					opacity: 0;
					visibility: hidden;
					@include makeTransition("opacity", ".3s", "ease");
				}
				&:after {
					content: "\f019";
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					z-index: 20;
					display: block;
					width: 50px;
					height: 50px;
					font-family:'FontAwesome' !important;
					font-size: 50px;
					text-align: center;
					color: $white;
					margin: auto;
					opacity: 0;
					visibility: hidden;
					@include makeTransition("opacity", ".3s", "ease");
				}
				img {width: 100%;}
			}
			.magazine-title {
				text-transform: uppercase;
				margin-top: 1.1rem;
				margin-bottom: 0;
			}
			.magazine-date {
				text-transform: capitalize;
				margin-bottom: 0;
			}
		}
	}
    .pagination{
        @include mqMaxWidth(768) {margin-top: 1rem;}
    }
}