/*
 * This file contains the general page styles
 */

.category-wine-intro {
	margin-top: 6rem;
	margin-bottom: 4.5rem;
	.category-wine-title {
		letter-spacing: 2px;
		text-transform: uppercase;
		margin-top: 0;
		margin-bottom: 2rem;
        @include mqMaxWidth(1200) {font-size: 2rem;}
        @include mqMaxWidth(992) {font-size: 1.5rem;}
        @include mqMaxWidth(768) {font-size: 2rem;}
	}
	.category-wine-date {
		font-size: 1.25rem;
		color: $moonyellow;
		margin-top: 0;
		margin-bottom: 1.25rem;
	}
	hr {
		width: 60px;
		text-align: left;
		margin-top: 0;
		margin-left: 0;
		margin-bottom: 1.25rem;
		border-width: 2px;
		border-color: $black;
	}
    .wine-description{
        @include mqMaxWidth(992) {margin-top: 30px;}
        @include mqMaxWidth(768) {margin-top: 0;}
    }
	.wine-title-container {
		.wine-title {
			font-size: 1.25rem;
			text-transform: uppercase;
			margin: 0;
		}
		.wine-type {margin-bottom: 1.5rem;}
	}
	.wine-productor-container {
		.wine-productor-title {
			font-size: 1.25rem;
			text-transform: uppercase;
			margin: 0;
		}
		.wine-productor-desc {margin-bottom: 1.5rem;}
	}
	.wine-intro-title {
		text-transform: uppercase;
		margin: 0;
	}
	.wine-excerpt-container .wine-excerpt {margin-bottom: 2rem;}
    
	.wine-icon {
		display: inline-block;
		width: 60px;
		height: auto;
	}
	.wine-song {
		> div:nth-child(2) {padding: 0 1rem;}
		strong {font-weight: 600;}
		&:hover,
		&:focus,
		&:active {
			color: $moonyellow;
			.fa-play {
				border-color: $moonyellow;
				@include makeTransition("border-color", ".3s", "ease");
			}
		}
	}
	.plus {
		font-weight: 600;
		font-size: 2.5rem;
		margin-left: 1rem;
		margin-right: 1rem;
	}
	.fa-play {
		display: inline-block;
		width: 30px;
		height: 30px;
		font-size: .75rem;
		text-align: center;
		text-transform: uppercase;
		border: 1px solid $black;
		border-radius: 50%;
		@include makeTransition("border-color", ".3s", "ease");
		&::before {
			width: 100%;
			height: 100%;
			line-height: 27px;
		}
	}
	.wine-img-container {
		position: relative;
		width: 100%;
		overflow: hidden;
        @include mqMaxWidth(768) {margin: 30px 0;}
		@include mqMaxWidth(575) {height: 250px;}
		@include mqMinWidth(576) {height: 300px;}
		@include mqMinWidth(768) {height: 360px;}
		@include mqMinWidth(992) {height: 450px;}
		@include mqMinWidth(1200) {height: 540px;}
		img {
			position: absolute;
			top: -9999px;
			right: -9999px;
			bottom: -9999px;
			left: -9999px;
			max-width: 120%;
			width: auto;
			min-width: 100%;
			max-height: 120%;
			height: auto;
			min-height: 100%;
			margin: auto;
			&.img-fluid {max-width: inherit !important;}
		}
	}
}

.category-wine-main,
.search-main {
	.search-title {
		position: relative;
		z-index: 10;
		text-align: center;
		@include mqMaxWidth(480) {
			margin-top: 4rem;
			margin-bottom: 4rem;
		}
		@include mqMinWidth(481) {
			margin-top: 5rem;
			margin-bottom: 5rem;
		}
		@include mqMinWidth(768) {
			margin-top: 6rem;
			margin-bottom: 6rem;
		}
		&::before {
			content: "";
			position: absolute;
			top: 1.7rem;
			right: 0;
			bottom: -1.2rem;
			left: 0;
			display: block;
			border: 1px solid $black;
		}
		span {
			position: relative;
			z-index: 20;
			padding: .5rem 1rem;
			&:first-child {background-color: $white;}
			&:last-child {color: $ceruleanblue;}
		}
	}
	.wine {
		padding-top: 1.5rem;
        @include mqMaxWidth(768) {
            padding-top:4.5rem;
            &:first-child{padding-top: 0.5rem;}
        }
		@include mqMinWidth(768) {margin-bottom: 5rem;}
		a {
			&:hover,
			&:focus,
			&:active {color: $moonyellow;}
		}
		.wine-title-box {
			position: relative;
			padding-bottom: 1.5rem;
			padding-right: 1rem;
			&::after {
				content: "";
				position: absolute;
				top: -1.5rem;
				right: 0;
				bottom: 0;
				left: -5rem;
				z-index: 0;
				border: 1px solid $black;
			}
			.wine-date {
				position: relative;
				z-index: 10;
				color: $moonyellow;
				margin: 0;
			}
			.wine-title {
				position: relative;
				z-index: 10;
				text-transform: uppercase;
				margin: 0;
			}
		}
        .wine-excerpt{
            span{
                @include mqMaxWidth(768) {margin: 15px 0 7.5px 0}
            }
        }
		.btn-dots {
			display: block;
			font-size: 0;
			line-height: 0;
			margin: 0;
			border-radius: 0;
			padding: 0;
			@include mqMinWidth(768) {margin-top: 2rem;}
			span {
				position: relative;
				display: inline-block;
				width: 7px;
				height: 7px;
				font-size: 1rem;
				line-height: 1rem;
				text-align: left;
				background-color: $moonyellow;
				margin-left: 15px;
				margin-right: 15px;
				border-radius: 50%;
				&::before,
				&::after {
					content: "";
					position: absolute;
					top: 0;
					bottom: 0;
					display: inline-block;
					width: 7px;
					height: 7px;
					background-color: $moonyellow;
					border-radius: 50%;
					margin: auto;
				}
				&::before {left: -15px;}
				&::after {right: -15px;}
			}
		}
		.wine-img-container {
			position: relative;
			width: 100%;
			overflow: hidden;
			@include mqMaxWidth(575) {height: 250px;}
			@include mqMinWidth(576) {height: 300px;}
			@include mqMinWidth(768) {height: 290px;}
			@include mqMinWidth(992) {height: 290px;}
			@include mqMinWidth(1200) {height: 350px;}
			img {
				position: absolute;
				top: -9999px;
				right: -9999px;
				bottom: -9999px;
				left: -9999px;
				max-width: 120%;
				width: auto;
				min-width: 100%;
				max-height: 120%;
				height: auto;
				min-height: 100%;
				margin: auto;
				&.img-fluid {max-width: inherit !important;}
			}
		}
		.share-box {
			font-size: 0;
			line-height: 0;
			text-align: right;
			border-bottom: 1px solid $black;
			padding-bottom: .8rem;
			.jssocials,
			span {
				display: inline-block;
				vertical-align: bottom;
				font-size: .8rem;
				line-height: 1;
				margin: 0;
				.jssocials-shares {
					margin: 0;
					.jssocials-share {
						margin-top: 0;
						margin-right: .2rem;
						margin-bottom: 0;
					}
				}
			}
			span:first-child {margin-right: .6rem;}
		}
	}
    .pagination{
        @include mqMaxWidth(768) {margin-top: 3rem;}
    }
}
aside{margin-top: 3rem;}