/*
 * This file contains the general page styles
 */

.contacts-main {
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 100%;
	@include mqMaxWidth(575) {min-height: 500px;}
	@include mqMinWidth(576) {min-height: 600px;}
	@include mqMinWidth(768) {height: 900px;}
	@include mqMinWidth(992) {height: 1200px;}
	.contacts-title {
		text-transform: uppercase;
		margin-bottom: 0;
		@include mqMaxWidth(575) {
			margin-top: 2.8rem;
			margin-bottom: 2.8rem;
		}
		@include mqMinWidth(576) {
			margin-top: 2.8rem;
			margin-bottom: 2.8rem;
		}
		@include mqMinWidth(768) {margin-top: 2rem;}
		@include mqMinWidth(992) {margin-top: 2.8rem;}
	}
	.contacts-content {
		font-weight: 600;
		color: $white;
		text-shadow: 7px 7px 0px rgba($ceruleanblue, 1);
		p:last-child {margin-bottom: 0;}
		@include mqMaxWidth(575) {
			font-size: 1.2rem;
			margin-bottom: 1rem;
		}
		@include mqMinWidth(576) {
			font-size: 1.5rem;
			margin-bottom: 1rem;
		}
		@include mqMinWidth(768) {
			font-size: 1.8rem;
			margin-bottom: 1rem;
		}
		@include mqMinWidth(992) {
			font-size: 2.2rem;
			margin-bottom: 3rem;
		}
	}
	.contacts-form-title {
		font-size: 2.5rem;
		font-weight: 600;
		color: $moonyellow;
		text-shadow: 7px 7px 0px rgba($ceruleanblue, 1);
		margin-top: 0;
		@include mqMaxWidth(575) {font-size: 1.8rem;}
		@include mqMinWidth(576) {font-size: 2.2rem;}
		@include mqMinWidth(768) {
			font-size: 2rem;
			margin-bottom: 1rem;
		}
		@include mqMinWidth(992) {
			font-size: 2.5rem;
			margin-bottom: 3rem;
		}
	}
	.big-link {
		font-weight: 600;
		@include mqMaxWidth(575) {
			font-size: 1.5rem;
			margin-top: 2.5rem;
			margin-bottom: 2rem;
		}
		@include mqMinWidth(576) {
			font-size: 1.8rem;
			margin-top: 2rem;
			margin-bottom: 2rem;
		}
		@include mqMinWidth(768) {
			font-size: 2.2rem;
			margin-bottom: 2.5rem;
		}
		@include mqMinWidth(992) {margin-bottom: 2.8rem;}
		a {
			&:hover,
			&:active,
			&:focus {color: $ceruleanblue;}
		}
	}
}