/*
 * This file contains the general page styles
 */
.homepage-featured-image {
	.homepage-intro-content {
		@include mqMaxWidth(767) {
			background-color: $moonyellow;
			padding-top: 1rem;
			padding-bottom: 1rem;
		}
        .btn-inverted{
            @include mqMaxWidth(767) {
                &:hover,
                &:active,
                &:focus{border: 1px solid white;}
            }
        }
	}
	.homepage-title {
		line-height: 1;
		font-weight: 300;
		margin-top: 0;
		margin-bottom: 1.5rem;
		@include mqMaxWidth(767) {
            margin-bottom: 1rem;
            color: $black;
        }
		@include mqMinWidth(768) {
			font-size: 4rem;
			color: $white;
		}
	}
	.homepage-subtitle {
		font-weight: 300;
		color: $white;
		margin-top: 0;
		margin-bottom: 1.5rem;
		@include mqMaxWidth(767) {
            margin-bottom: 1rem;
            color: $black;
        }
		@include mqMinWidth(768) {color: $white;}
	}
	.btn {margin-top: 1.5rem;}
	.animated-img-box {
		position: relative;
		height: 100%;
		@include mqMaxWidth(767) {display: none;}
		img {
			right: 0;
			left: 0;
			@include vAlignMiddle(absolute);
		}
	}
    .btn-inverted{
        @include mqMaxWidth(768) {
            margin-top: 0.5rem;
            margin-left: 1rem;   
        }
        @include mqMaxWidth(576) {
            margin-top: 1rem;
            margin-left: 0;
        }
    }
    .container{
        @include mqMaxWidth(767) {max-width: 100% !important;}
    }
    .align-items-center{
        @include mqMaxWidth(767) {align-items: flex-end !important;}
    }
    img{
        @include mqMaxWidth(576) {display: block;}
    }
}

.homepage-main {
	.magazine-carousel {
		border-top: 1px solid $black;
		padding-top: 3rem;
		padding-left: 0;
		padding-right: 0;
		.magazine-carousel-title {
			font-weight: 500;
			text-transform: uppercase;
			text-align: center;
			margin-bottom: 3rem;
		}
		.magazine-carousel-row {
			font-size: 0;
			line-height: 0;
			overflow-x: auto;
			white-space: nowrap;
			.magazine {
				display: inline-block;
				vertical-align: middle;
				font-size: 1.2rem;
				font-weight: bold;
				line-height: 1;
				text-align: center;
				padding-right: 2rem;
				cursor: pointer;
				/*@include mqMaxWidth(480) {width: 80%;}
				@include mqMinWidth(481) {width: 45%;}
				@include mqMinWidth(768) {width: 30%;}*/
				img {
					//max-width: 100px;
				}
				a {
					display: block;
					&:hover,
					&:focus,
					&:active {
						color: $black;
						.magazine-img-container:before,
						.magazine-img-container:after {
							opacity: 1;
							visibility: visible;
							@include makeTransition("opacity", ".3s", "ease");
						}
					}
					.magazine-img-container {
            padding-top: 30px;
						position: relative;
						z-index: 0;
           @include mqMaxWidth(576) {max-width: 270px;}
						&:before {
							content: "";
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							left: 0;
							z-index: 10;
							background-color: rgba($black, .5);
							opacity: 0;
							visibility: hidden;
							@include makeTransition("opacity", ".3s", "ease");
						}
						&:after {
							content: "\f019";
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							left: 0;
							z-index: 20;
							display: block;
							width: 50px;
							height: 50px;
							font-family:'FontAwesome' !important;
							font-size: 50px;
							text-align: center;
							color: $white;
							margin: auto;
							opacity: 0;
							visibility: hidden;
							@include makeTransition("opacity", ".3s", "ease");
						}
						img {
							width: 100%;
							max-width: 335px;
						}
					}
					.magazine-title {
						text-align: left;
						text-transform: uppercase;
						margin-top: 1.1rem;
						margin-bottom: 0;
					}
					.magazine-date {
						font-size: .9rem;
						font-weight: 300;
						text-align: left;
						text-transform: capitalize;
						margin-bottom: 1rem;
					}
				}
			}
		}
		.magazine-carousel-btn {
			text-align: center;
			@include mqMaxWidth(767) {margin-top: 3rem;}
			@include mqMinWidth(768) {margin-top: 4rem;}
		}
	}
	.homepage-main-details {
		.details-img-container {
			position: relative;
			text-align: right;
			@include mqMaxWidth(480) {margin-top: 4rem;}
			@include mqMinWidth(481) {margin-top: 5rem;}
			@include mqMinWidth(768) {margin-top: 6rem;}
			picture:first-child {
				right: 50%;
				@include vAlignMiddle(absolute);
			}
			picture:last-child {
				position: relative;
				z-index: 10;
				img {max-width: 80%;}
			}
		}
        .details-title {
            text-transform: uppercase;
            letter-spacing: 2px;
            @include mqMaxWidth(768) {margin-top: 2rem;}
        }
        .btn-default{margin-top: 7.5px;}
	}
}

._mCS_1 .mCSB_dragger .mCSB_dragger_bar{
	background-color: $black;
	border-radius: 0;
}

.mCSB_scrollTools {
	@include mqMaxWidth(480) {margin-top: 3rem;}
	@include mqMinWidth(481) {margin-top: 3rem;}
	@include mqMinWidth(768) {margin-top: 3rem;}
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail {height: 1px;}

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger {
	&:hover,
	&:focus,
	&:active {
		.mCSB_dragger_bar{background-color: $black;}
	}
}
.mCSB_scrollTools.mCSB_1_scrollbar.mCS-my-theme.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag .mCSB_dragger_bar{background-color: $black;}