/*
 * This file contains the general page styles
 */

@keyframes moveImageBack {
    from {left: -10%;}
    to {left: -1%;}
}

@keyframes moveImageFront {
    from {right: -10%;}
    to {right: -1%;}
}

.institutional-main {
	.featured-image {
		.effect-image {
			position: absolute;
			bottom: 0;
			z-index: 20;
			display: block;
			width: 120%;
			opacity: .8;
			&.image-back {
				animation-name: moveImageBack;
				animation-duration: 2s;
				animation-iteration-count: infinite;
				animation-direction: alternate;
			}
			&.image-front {
				animation-name: moveImageFront;
				animation-duration: 2s;
				animation-iteration-count: infinite;
				animation-direction: alternate;
			}
		} 
	}
	
	.main-content {
		@include mqMaxWidth(480) {
			margin-top: 4rem;
			margin-bottom: 4rem;
		}
		@include mqMinWidth(481) {
			margin-top: 5rem;
			margin-bottom: 5rem;
		}
		@include mqMinWidth(768) {
			margin-top: 6rem;
			margin-bottom: 6rem;
		}
		.main-content-box {
			position: relative;
			text-align: center;
			border: 2px solid $moonyellow;
			padding: 3rem;
			.main-content-box-title {
				position: absolute;
				top: -1.5rem;
				left: 0;
				right:0;
				display: inline-block;
				
				line-height: 1;
				background-color: $white;
				margin: 0 auto;
				padding: .5rem 1rem;
				@include mqMaxWidth(480) {width: 80%;}
				@include mqMinWidth(481) {width: 60%;}
				@include mqMinWidth(768) {width: 60%;}
				@include mqMinWidth(992) {width: 50%;}
				@include mqMinWidth(1200) {width: 40%;}
			}
		}
	}
	.main-description {
		@include mqMaxWidth(480) {margin-bottom: 4rem;}
		@include mqMinWidth(481) {margin-bottom: 5rem;}
		@include mqMinWidth(768) {margin-bottom: 6rem;}
		.main-description-title {
			margin-top: 0;
			margin-bottom: 0;
		}
        img{
            @include mqMaxWidth(768) {margin-bottom: 30px;}
        }
	}
	.main-details {
		position: relative;
        @include mqMaxWidth(576) {
            overflow: hidden;
            padding: 0;
        }
		@include mqMaxWidth(480) {margin-bottom: 4rem;}
		@include mqMinWidth(481) {margin-bottom: 5rem;}
		@include mqMinWidth(768) {margin-bottom: 6rem;}
        .main-details-img{
            img{
                @include mqMaxWidth(576) {
                    max-width: 120%;
                    margin-left: -10%;
                }
                @include mqMaxWidth(400) {
                    max-width: 150%;
                    margin-left: -25%;
                }
            }
        }
		.main-details-box {
			left: 0;
			right: 0;
			z-index: 10;
            padding: 0 15px;
			@include vAlignMiddle(absolute);
			.main-details-title {
				font-weight: 600;
				text-align: center;
				color: $white;
				text-shadow: 7px 7px 0px rgba($ceruleanblue, 1);
				@include mqMaxWidth(575) {
					font-size: 1.5rem;
					margin-bottom: 1rem;
				}
				@include mqMinWidth(576) {
					font-size: 1.5rem;
					margin-bottom: 1rem;
				}
				@include mqMinWidth(768) {
					font-size: 1.8rem;
					margin-bottom: 1rem;
				}
				@include mqMinWidth(992) {
					font-size: 2.2rem;
					margin-bottom: 3rem;
				}
			}
			.main-details-content {
				color: $white;
				@include mqMinWidth(768) {font-size: 1.2rem;}
			}
		}
		
	}
}
