/*
 * This file contains the general page styles
 */

.post-wine-main {
	.wine-header {
		padding-bottom: 1.5rem;
		.wine-title-box {
			position: relative;
			max-width: 80%;
			margin: auto;
			margin-top: 1.5rem;
			padding-top: 1.5rem;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
			&::after {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				bottom: -4rem;
				left: 0;
				z-index: 0;
				border: 1px solid $black;
			}
            h1{
                @include mqMaxWidth(768){font-size: 1.8rem;}
            }
			.wine-date,
			.wine-title {
				position: relative;
				z-index: 10;
			}
			.wine-date {
				font-size: 1.25rem;
				color: $moonyellow;
				text-align: center;
				margin-top: 0;
				margin-bottom: 0;
			}
			.wine-title {
				text-transform: uppercase;
				text-align: center;
				margin-top: 0;
				margin-bottom: 0;
			}
		}
	}
	
	.wine-content-title {
		text-transform: uppercase;
		margin: 0;
	}
	.share-box {
		font-size: 0;
		line-height: 0;
		text-align: right;
		margin-bottom: 4.5rem;
		border-bottom: 1px solid $black;
		padding-top: 1.5rem;
		padding-bottom: .8rem;
		.jssocials,
		span {
			display: inline-block;
			vertical-align: bottom;
			font-size: .8rem;
			line-height: 1;
			margin: 0;
			.jssocials-shares {
				margin: 0;
				.jssocials-share {
					margin-top: 0;
					margin-right: .2rem;
					margin-bottom: 0;
				}
			}
		}
		span:first-child {margin-right: .6rem;}
	}
	.wine-icon {
		display: inline-block;
		width: 60px;
		height: auto;
	}
	.wine-song {
		> div:nth-child(2) {padding: 0 1rem;}
		strong {font-weight: 600;}
		&:hover,
		&:focus,
		&:active {
			color: $moonyellow;
			.fa-play {
				border-color: $moonyellow;
				@include makeTransition("border-color", ".3s", "ease");
			}
		}
	}
	.plus {
		font-weight: 600;
		font-size: 2.5rem;
		margin-left: 1rem;
		margin-right: 1rem;
	}
	.fa-play {
		display: inline-block;
		width: 30px;
		height: 30px;
		font-size: .75rem;
		text-align: center;
		text-transform: uppercase;
		border: 1px solid $black;
		border-radius: 50%;
		@include makeTransition("border-color", ".3s", "ease");
		&::before {
			width: 100%;
			height: 100%;
			line-height: 27px;
		}
	}
}